<script type="text/template" id="main-tpl">
<style type="text/css">
.screenwebcam-view {
    position: relative;
    height: inherit;
    width: inherit;
}
.main {
    height: auto;
    width: auto;
    max-width: 100%;
    margin-bottom: 39px;
}
.draggable {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 30%;
    max-height: 30%;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    z-index: 1;
}
.hidden {
    visibility: hidden;
}
</style>
<video class="screen-output main" autoplay poster="images/webrtc.png"></video>
<video class="webcam-output draggable" autoplay poster="images/webrtc.png"></video>
<video class="webcam-input hidden" autoplay poster="images/webrtc.png"></video>
</script>